<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "Variables.wxi" ?>

  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="$(var.Product)">
          <Directory Id="ModulesDir" Name="Modules" />
        </Directory>
      </Directory>

    </Directory>

  </Fragment>
</Wix>