<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "Variables.wxi" ?>

  <Product Id="*" Name="$(var.Product)" Version="!(bind.FileVersion.MyApp.exe)" Manufacturer="$(var.Company)"
           Language="1033" UpgradeCode="F44775E9-35BF-4321-830C-4604B9ED583A">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="Data.cab" EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- .NET Framework 4.6 -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED" />
    <Condition Message="This setup requires the .NET Framework 4.6 installed.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED]]>
    </Condition>

    <FeatureGroupRef Id="ProductFeatures" />

    <!-- UI -->
    <UIRef Id="WixUI_Mondo" />
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="OpenReadmeAction">
        <![CDATA[WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed]]>
      </Publish>
    </UI>

    <!-- Resources -->
    <Icon Id="InstallerIcon" SourceFile="$(var.SourceDir)\Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="InstallerIcon" />

    <WixVariable Id="WixUIBannerBmp" Value="Resources\Banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\Dialog.png" />
    <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />

    <!-- Open Readme.txt after installation -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open Readme file" />
    <Property Id="WixShellExecTarget" Value="[#Readme.txt]" />
    <CustomAction Id="OpenReadmeAction" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

  </Product>
</Wix>